$darkmode: true;
$primary: #aac7ff;
$onPrimary: #002e69;
$primaryContainer: #09458e;
$onPrimaryContainer: #d6e2ff;
$secondary: #bec6dc;
$onSecondary: #283041;
$secondaryContainer: #3f4759;
$onSecondaryContainer: #dae2f9;
$tertiary: #debce0;
$onTertiary: #3f2843;
$tertiaryContainer: #583e5c;
$onTertiaryContainer: #fad7fc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1012;
$background: #0F1012;
$onBackground: #e4e2e6;
$surface: #1a1b1f;
$onSurface: #e4e2e6;
$surfaceVariant: #44474f;
$onSurfaceVariant: #c4c6d0;
$outline: #8e9099;
$shadow: #000000;
$inverseSurface: #e4e2e6;
$inverseOnSurface: #2f3034;
$inversePrimary: #2e5da8;
